<header>
  <!-- Top utilities -->
  <!--Top menu-->
  <top-menu></top-menu>
  <!-- Main header -->
  <div class="header-main">
    <!-- Logo -->
    <div class="logo">
      <h1>eCom</h1>
    </div>

    <!-- Main navigation -->
    <!--main menu-->
    <main-menu></main-menu>
    <!-- Search bar -->
    <div class="search-bar">
      <input type="text" placeholder="Search for a product..." />
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>Search
      </button>
    </div>
  </div>
</header>
