<div class="filter-box">
  <div class="filter-header">
    <h3>Filter</h3>
  </div>

  <div class="filter-content">
    <input type="radio" name="filter" value="selectAll" [(ngModel)]="selectedFilterRadionButton" (change)="onSelectedFilterButtonChanged()"> All ({{ all }})
    <input type="radio" name="filter" value="selectInStock" [(ngModel)]="selectedFilterRadionButton" (change)="onSelectedFilterButtonChanged()"> In Stock ({{ inStock }})
    <input type="radio" name="filter" value="selectOutOfStock" [(ngModel)]="selectedFilterRadionButton" (change)="onSelectedFilterButtonChanged()"> Out Of Stock ({{ outOfStock }})
  </div>
</div>