<div class="ecom-container">
    <search (searchTextChanged)="setSearchText($event)"></search>
<!--
    <img [src]="product.pImage" width="200" height="150">
    <p>Name : {{ product.name }}</p>
    <p>Price : {{ '$' + product.price }}</p>
    <p>Color : {{ product.color }}</p>
    <p>Discounted Price : {{ getDiscountedPrice().toFixed(2) }}</p>
    <p>{{ product.inStock > 0 ? 'Only ' + product.inStock + ' items left' : 'Not in stock' }}</p>
    <button [disabled]="!(product.inStock > 0)">Buy Now</button>
    <button (click)="decrementCartValue()">-</button>
    <span>{{ addToCart }}</span> 
    <button (click)="incrementCartValue()">+</button>  
    <input (input)="onNameChange($event)"><br>
    <p>name = {{ name }}</p>

-->

    <!-- <div *ngFor="let item of listOfString">
        <p>Current element of array is : {{ item }}</p>
    </div> -->
    <product-list [searchText]="searchText" #productListC></product-list>
    <product-detail *ngIf="productListC.selectedProduct" [productListComp]="productListComponent"></product-detail>
    <div class="featured-products">
        <div class="featured-product-heading">
            <h1>Latest Arrival In Popular Brands</h1>
        </div>

        <div class="brands-row">
            <featured-brands>
                <h2>Adidas</h2>
                <p>Comfort and performance in every step.</p>
                <button>Shop Now</button>
            </featured-brands>
            <featured-brands>
                <h2>nike</h2>
                <p>Just do it. Discover the latest Nike trends.</p>
                <button>Shop Now</button>
            </featured-brands>
            <featured-brands>
                <h2>reebok</h2>
                <p>Style and power for all your workouts</p>
                <button>Shop Now</button>
            </featured-brands>
        </div>    
    </div>

</div> 