.top-bar {
  background-color: #222;
  color: white;
  font-size: 14px;
  padding: 5px 20px;
}

.top-links {
  display: flex;
  justify-content: flex-end; /* liens alignés à droite */
  gap: 15px;
}

.top-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.top-links a:hover {
  color: #f0a500;
}

.signup-login {
  font-weight: bold;
}
