<div class="d-flex justify-content-center my-3">
  <div class="input-group" style="max-width: 400px;">
    <!--<input type="text" class="form-control" placeholder="Search products..." [value]="searchText" (input)="updateSearchText($event)"> -->
    <input type="text" class="form-control" placeholder="Search products..." [(ngModel)]="searchText">
    <button class="btn btn-dark" type="button">Search</button>
  </div>
</div>
  <div class="mt-2 text-center">
    <p *ngIf="searchText != ''">Search results for: <strong>{{ searchText }}</strong></p>
  </div>





